*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

.container{
    height: 100%;
    width: 100%;
    background-color: #f0e2e2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    position: relative;
    height: 300px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    /* padding: 50px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
}

.progress{position: relative;
    height: 20px;
    width: 80%;
    background-color: #5e5e5e;
    border-radius: 50px;
}
.growth{
    position: absolute;
    height: 20px;
    width: 0%;
    background-color: #40bc0b;
    border-radius: 50px;
    z-index: 30;
}

.bottom{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-family: sans-serif;
}
#btn{
    padding: 15px 10px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #398f14;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}
#btn:active{
    scale: 0.95;
}